body {
    background-color:#706f6e;
    height: 100%;
    margin: 0;
    padding: 0;
}

.welcome {
    min-width: 100px;
    text-align: center;
    justify-content: center;
    height: 100%;
    align-content: center;
    top: 1000px;
    overflow: hidden
}

h1 {
    color: whitesmoke;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 4rem;
    font-weight: 100;
    font-style: italic;
}

.search-box {
    background: #2f3640;
    width: 60%;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    position: relative;
    
}
.form > button >img {
    width: 15px;
    color: #2f3640;
    background-color: #2f3640;
    border: none;
    mix-blend-mode: multiply;
    
  
    
    
}
.search-text {
    margin: auto;
    width: 90%;
    background-color: #cccac9;
    border:none;
    border-radius: 4px;
    padding: 5px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #575554;
    position: absolute;
    bottom: 8px;
}
.form {
    width: 100%
}
.search-text:focus{
    outline: none;
}
.form > button {
    background-color: #2f3640;
    border: none;
    float:right;
    padding-left: 3px;
  
    
}
.form > button:hover {
    cursor: pointer;
}
.form > button:focus {
    outline: none;
}


.weatherGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border: none;
    border-radius: 50px;
    margin: auto;
    margin-top: 30px;
    color: whitesmoke;
    width: 70%;
    
}

.col3, .col2, .col1{
    height: 300px;
    padding: 5px;
    background: #858483;
    box-shadow: 10px 10px 5px 0px rgba(102,99,102,1);
}

.col1{
    border-radius: 15px 0px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col2 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}
.icon {
    margin: auto;
}

.temperature {
    color: whitesmoke;
    font-size: 3.5rem;
    text-align: center;
    margin-top: 0;
}

.humidity, .precipType, .precipProbability, .wind {
    font-size: 20px;
    text-align: center;

}
.col3 {
    border-radius: 0px 15px 15px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-right: 20px;
}
.canvas {
    width: 100px;
    height: 100px;
}
.summary { 
    color: whitesmoke;
    text-align: center;
    margin-top: 5px;
    padding-top: 5px;
    font-size: 2rem;
    font-style: italic;
    
}


